{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Shipment</title>
    <link rel="stylesheet" href="{% static 'shipping/edit_shipment.css' %}">
</head>
<body>
   
    <div class="card">
        <h3>Edit Shipment</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>
        
        <a href="{% url 'shipment_detail_view' shipment.id %}">
            <button>Cancel</button>
        </a>
    </div>
   
</body>
</html>
