{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipments</title>
    <link rel="stylesheet" href="{% static 'shipping/shipment_list.css' %}">
</head>
<body>
    <table class="shipment-table">
        <thead>
            <tr>
                <th>Order Numbers</th>
                <th>Customer</th>
                <th>Delivery Location</th>
                <th>Shipment Cost</th>
                <th>Date</th>
                <th>Status</th>
                <th>View Shipping</th>
                <th>Edit Shipping</th>
            </tr>
        </thead>
        <tbody>
            {% for shipment in shipments %}
            <tr>
                <td>{{ shipment.orders }}</td>
                <td>{{ shipment.customer }}</td>
                <td>{{ shipment.delivery_location }}</td>
                <td>{{ shipment.shipment_cost }}</td>
                <td>{{ shipment.date }}</td>
                <td>{{ shipment.status }}</td>
                <td>
                  <a href="{% url 'shipment_details_view' id=shipment.id %}">View Shipping Details </a>
              </td>
              <td>
                  <a href="{% url 'edit_shipment_view' id=shipment.id %}">Edit Shipment </a>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
