{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Details</title>
    <link rel="stylesheet" href="{% static 'cart/cart_details.css' %}">
</head>
<body>
    <header>
        <h1>Cart Details</h1>
    </header>
    <div class="cart-details-container">
        <div class="cart-item">
            <img src="{{ cart.image.url }}" alt="{{ cart.product }}">
            <div class="cart-item-details">
                <h2>{{ cart.product }}</h2>
                <p>Price: ${{ cart.price }}</p>
                <p>Quantity: {{ cart.number_of_products }}</p>
                <p>Shipment Cost: ${{ cart.shipment_cost }}</p>
                <p>Payment Options: {{ cart.payment_options }}</p>
            </div>
        </div>
        
    </div>
</body>
</html>
